.outerframe{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #B24BF3;
}



.box1{
    width:20px;
    height: 20px;
    background-color: #000;
}