.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
    color: #8892b0;
}

.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 3rem ;
}

.project-card{
    background: #233554;
    padding: 1.2rem 1rem;
    border: 1px solid #fff;
    border-radius: 10px;
}

.project-card h2{
    color: #8892b0;
}

.project-card img{
    width: 100%;
}

.project-title{
    color: #8892b0;
    padding: 1rem 0;
}

.project-title p {
    padding-bottom: 3rem;
    font-size: 1.1rem;
    text-align: justify;
}

.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.pro .btn{
    padding: 0.5rem 1rem;
}

.pro-detials p{
    padding-bottom: 2rem;
    color: #8892b0;
}



@media screen and (max-width:740px) {

    .project-container{
        max-height: 90%;
        margin: auto;
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
}